/* Thiết lập các kiểu CSS chung */
.container {
    max-width: 100%;
}
.logo {
    height: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    /* position: absolute; */
    width: 100%;
    /* top: 80px; Đặt vị trí của nav dưới header */
}

/* section {
    background-color: yellow;
    position: absolute;
    width: 100%;
    top: 200px;
} */
nav ul {
    display: flex;
}

nav ul li {
    margin-left: 30px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 10%;
    background-color: red;
}

.header-container {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
    justify-content: space-evenly;
    align-items: center;
}

.noi_dung {
    width: 100%; 
    height: auto;
    flex-direction: column;
    display: flex;
    /* border: 2px solid rgb(192, 183, 183);
    border-radius: 10px; */
    align-items: center;        
    margin-top: 50px;
}

.noi_dung2 {
    width: 80%; 
    height: auto;
    display: flex; 
    margin-top: 50px;
    margin-left: 160px;
}

.noi_dung img {
    width: 70%;
}

.gioi_thieu_chung {
    width: 80%;
}

.img_gioi_thieu_chung {
    width: 20%;
}

.img_gioi_thieu_chung img {
    width: 100%;
    margin-bottom: 20px;
}

.noi_dung .gioi_thieu_chung h1 {
    color: orange;
}

footer {
    background-color: #20d226;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
}

/* Màn hình smartphone */
@media screen and (max-width: 767px) {
    
}

/* Màn hình tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}